html {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #313131;
}
body {
  border: 8px solid #a9a9a9;
  margin: 0px;
}
nav {
  padding-top: 4em;
  padding-bottom: 4em;
}
nav-right {
  padding-top: 1.5em;
  float: right;
  display: inline-block;
  vertical-align: middle;
}
h1,
h2,
h3,
h3,
h4,
h5,
h5,
li {
  font-weight: bold;
  margin: 0;
}
li {
  margin-bottom: 1.5em;
  padding-bottom: 2em;
  font-size: 1.5em;
  line-height: 1em;
}
a {
  text-decoration: none;
  color: #d10007;
}
.list-item {
  float: left;
  margin-left: 2em;
  list-style: none;
}
