// Variables
@color-sky: #caebf2;
@color-watermelon: #ff383f;
@color-carbon: #a9a9a9;
@color-neutral: #efefef;
@color-black: #313131;

// Link Colors
@link-color: @color-watermelon;
@link-color-hover: darken(@link-color, 10%);

a,
.link {
    color: @link-color;
}
a:hover {
    color: @link-color-hover;
}

div {
    background-color: @color-neutral
}