a,
.link {
  color: #ff383f;
}
a:hover {
  color: #ff050e;
}
body {
  background-color: #fcfffd;
  color: #313131;
}
hr.gradient {
  border: 0px;
  height: 1px;
  background-image: linear-gradient(to right, rgba(200, 121, 100, 0), rgba(200, 121, 100, 0.75), rgba(200, 121, 100, 0));
}
nav,
.navbar {
  background-color: #fcfffd;
  color: #313131;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 4px solid #C87964;
  font-size: 1.25em !important;
}
nav .navbar-header,
.navbar .navbar-header {
  color: #313131;
}
nav a,
.navbar a,
nav .link,
.navbar .link {
  color: #313131;
}
nav a:hover,
.navbar a:hover {
  color: #a9a9a9;
  text-decoration: none;
}
nav li,
.navbar li {
  padding-left: 2rem;
}
.jumbotron {
  background-color: #e1f3f8;
  color: #313131;
  min-height: 500px;
}
.content {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.main-feed {
  background-color: #efefef;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer {
  font-size: .85rem;
  background-color: #fcfffd;
  color: #313131;
  border-top: 4px solid #C87964;
}
footer a {
  color: #313131;
}
footer a:hover {
  text-decoration: none;
  color: #a9a9a9;
}
