{% extends "base.html" %}
{% set active_page = "about" %}
{% block header %}
<div class="title-container">
    <div class="row">
        <div class="profile-picture">

        </div>
        <div class="title col align-self-center">
                <span>
                    <h1>Hi, my name is Lorem Ipsum. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</h1>
            </span>
        </div>
    </div>
    
</div>
<div class="hero">
</div>
{% endblock %}
{% block content %}
<div class="main-text">
    <h1>Pellentesque dignissim ligula ut elit pulvinar vehicula.</h1>
    <p>Ut laoreet risus purus, ut consectetur orci ullamcorper quis. Donec finibus rutrum massa vitae rutrum. Nulla facilisi. Sed tristique a odio eget iaculis. Suspendisse potenti. Vestibulum in urna at magna faucibus malesuada. Praesent eu dolor eu nisi varius semper vitae ac libero.</p>
    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras bibendum lorem vitae fringilla vestibulum. Aliquam ac commodo leo. Phasellus eleifend suscipit pharetra. Fusce venenatis, erat ut mollis ultrices, diam ipsum faucibus tortor, vestibulum venenatis lectus sapien quis dui. Etiam tristique at justo id mollis. In finibus eros erat, sit amet hendrerit augue pulvinar congue. Nam justo nulla, porta sit amet congue quis, fermentum eu lorem. Integer dapibus mauris eu venenatis pharetra. Curabitur nec magna elit. Praesent tristique, eros sit amet convallis euismod, odio odio feugiat felis, eget molestie felis tellus sed nisl. Vivamus malesuada nisi ac sapien elementum facilisis.</p>
</div>
<div class="project-feature">
    <div class="container">
        <div class="row">
            {% for project in projects %}
            <div class="col">
                <div class="card text-center">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ project.project_title }}</h5>
                        <p class="card-text">{{ project.project_desc }}</p>
                        <a href="{{ project.project_link }}" class="btn btn-primary mt-auto">Check it out</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="main-text">
    <div class="container">
        <div class="row">
            <div class="col list-container">
                <h2>Skills</h2>
                <ul>
                    <li>Proin sed sem sed est tempor facilisis non sed ex.</li>
                    <li>Curabitur tristique leo id libero dapibus, dapibus lacinia magna porttitor.</li>
                    <li>Maecenas pretium nibh sagittis urna tincidunt congue.</li>
                    <li>Morbi pellentesque turpis eget arcu fringilla condimentum ut ut metus.</li>
                </ul>
            </div>
            <div class="col list-container">
                <h2>Interests</h2>
                <ul>
                    <li>Aenean non lorem lobortis, porttitor augue vitae, dapibus lectus.</li>
                    <li>Suspendisse sit amet orci eu est imperdiet rutrum nec a erat.</li>
                    <li>Phasellus consectetur enim tincidunt accumsan rhoncus.</li>
                    <li>Duis sed quam vestibulum tortor semper suscipit non ut sapien.</li>
                    <li>Vivamus at neque volutpat, semper libero ac, tincidunt velit.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}