<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="description" content="{{ description }}">
    {% if og_description %}
    <meta name="og:title" property="og:title" content="{{ og_description }}">
    {% endif %}
    {% if keywords %}
    <meta name="keywords" content="{{ keywords }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Raleway" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
                <div class="logo-box">
                    <span class="logo-text">
                        <a onmouseover="highlightOuterElement(this);" onmouseout="removeHighlightOuterElement(this);" href="/">PTH</a>
                    </span>
                </div>
            </div>
            <ul class="right">
                <li class="navbar-item">
                    <a {% if active_page == "about" %}class="active"{% endif %} href="/">About</a>
                </li class="navbar-item">
                <li>
                    <a {% if active_page == "blog" %}class="active"{% endif %} href="/coming-soon">Blog</a>
                </li>
                <li class="navbar-item">
                    <a {% if active_page == "contact" %}class="active"{% endif %} href="/contact">Contact</a>
                </li>
            </ul>
    </nav>
    <header>
        {% block header %}
        {% endblock %} 
    </header>
    <div class="main-container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <div class="container">
            <span>Copyright <a href="mailto:patrick.tyler.haas@gmail.com">Patrick Tyler Haas</a> 2018</span>
        </div>
    </footer>
</body>
</html>