{% extends "base.html" %}
{% set active_page = "contact" %}
{% block header %}
<div class="hero">
</div>
{% endblock %}
{% block content %}
<div class="main-text">
    <h1>Pellentesque dignissim ligula ut elit pulvinar vehicula.</h1>
    <p>Ut laoreet risus purus, ut consectetur orci ullamcorper quis. Donec finibus rutrum massa vitae rutrum. Nulla facilisi. Sed tristique a odio eget iaculis. Suspendisse potenti. Vestibulum in urna at magna faucibus malesuada. Praesent eu dolor eu nisi varius semper vitae ac libero.</p>
    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras bibendum lorem vitae fringilla vestibulum. Aliquam ac commodo leo. Phasellus eleifend suscipit pharetra. Fusce venenatis, erat ut mollis ultrices, diam ipsum faucibus tortor, vestibulum venenatis lectus sapien quis dui. Etiam tristique at justo id mollis. In finibus eros erat, sit amet hendrerit augue pulvinar congue. Nam justo nulla, porta sit amet congue quis, fermentum eu lorem. Integer dapibus mauris eu venenatis pharetra. Curabitur nec magna elit. Praesent tristique, eros sit amet convallis euismod, odio odio feugiat felis, eget molestie felis tellus sed nisl. Vivamus malesuada nisi ac sapien elementum facilisis.</p>
</div>
{% endblock %}