body {
  height: 100%;
  border: 2px solid #767676;
  margin: 0px;
  background-color: #fcfffd;
  color: #313131;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: #ff383f;
}
a:hover {
  text-decoration: none;
  color: #ff050e;
}
h1 {
  font-size: 1.5em;
}
.left {
  float: left;
}
.right {
  float: right;
}
.navbar {
  padding-left: 5%;
  padding-right: 5%;
}
nav {
  background-color: #efefef;
  border-bottom: 1px solid rgba(239, 239, 239, 0.5);
}
nav a {
  text-decoration: none;
  color: #313131;
  font-weight: bold;
  font-size: 14pt;
}
nav a:hover {
  color: #d10007;
  text-decoration: none;
}
nav a.active {
  color: #d10007;
}
nav ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  text-align: right;
}
nav li {
  display: inline;
  padding-left: 1em;
  padding-right: 1em;
}
nav .logo-box {
  padding: 0.5em;
  border: 4px solid #313131;
  border-radius: .25rem;
  transition: border-color 0.75s ease;
}
nav .logo-text {
  padding-top: 50%;
  font-weight: bold;
  font-size: 14pt;
}
header .profile-picture {
  height: 200px;
  width: 200px;
  background-color: #efefef;
  border: 2px solid #d10007;
  border-radius: 50%;
}
header .title-container {
  background-color: #fcfffd;
  border-left: 1px solid rgba(252, 255, 253, 0.5);
  border-right: 1px solid rgba(252, 255, 253, 0.5);
  padding: 4em;
  margin-left: 5%;
  margin-right: 5%;
}
header .hero {
  margin-left: 7%;
  margin-right: 7%;
  min-height: 500px;
  background-color: rgba(120, 204, 222, 0.2);
}
.main-container {
  background-color: #fcfffd;
  border-left: 1px solid rgba(252, 255, 253, 0.5);
  border-right: 1px solid rgba(252, 255, 253, 0.5);
  padding: 4em;
  margin-left: 5%;
  margin-right: 5%;
}
.main-container h1 {
  padding: 2rem;
  text-align: center;
}
.main-container .main-text {
  margin-left: 6rem;
  margin-right: 6rem;
}
.project-feature {
  background-color: #767676;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: .25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.project-feature .btn-primary {
  background-color: rgba(209, 0, 7, 0.8);
  border-color: rgba(209, 0, 7, 0.8);
}
footer {
  padding: 0.5em;
  background-color: #efefef;
  border-top: 1px solid rgba(239, 239, 239, 0.5);
  text-align: center;
}
footer span {
  font-size: 10pt;
  font-weight: bold;
}
